<div class="modal fade" id="choose-city-session-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-loading-header">
                <h3 class="modal-title">Welcome to TransitBuilder</h3>
            </div>
            <div class="modal-body" id="new-route-body">
                <form class="form-horizontal" role="form" id="new-route-form">
                    <div class="form-group">
                        <label for="inputCitySession" class="col-sm-4 control-label"><strong>Load City Session</strong></label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="inputCitySession" placeholder="City Session Name">
                        </div>
                    </div>
                    <div style="text-align:center; margin-top:0px">
                        <p style="margin-left:auto; margin-right:auto;"><strong>or</strong></p>
                    </div>
                    <div class="form-group">
                        <label for="inputNewCitySession" class="col-sm-4 control-label"><strong>Start New City Session</strong></label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="inputNewCitySession" placeholder="City Session Name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="new-route-footer">
                <button type="button" id="city-session-btn" class="btn btn-primary" >Start!</button>
            </div>
        </div>
    </div>
</div>