<ul class="nav nav-tabs" id="ctrl-nav-tabs">
    <li class="active"><a data-toggle="tab" id="nav-tab-layers">Map Layers</a></li>
    <li><a data-toggle="tab" id="nav-tab-stats">Network Stats</a></li>
</ul>