<div class="modal fade" id="loading-alert" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-loading-header">
                <h4 class="modal-title" id="myModalLabel"><%=text%></h4>
                <img src="loader.gif" width="32" height="32" >
            </div>
        </div>
    </div>
</div>