<div class="modal fade" id="alert-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title" id="myModalLabel"><%=text%></h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="alert-modal-ok" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>