<h3>Choose a City</h3>
<form id="city-selector">
    <input type="text" id="enter_city" class="form-control"><br>
    <button type="button" id="select_btn" class="btn btn-primary">Select</button>
</form>
