<h3>Choose a City</h3>
<form id="city_selecter">
    <input type="text" id="enter_city" class="form-control"><br>
</form>
<button type="button" id="select_btn" class="btn btn-default">Select</button>
