<p>Select Layers</p>
<form action="" id="map-layer-ctrl">
    <% for (var layer in layers) { %>
    <%  if(!layers.hasOwnProperty(layer)) { %>
    <%      continue; } %>
    <input type="checkbox" name=<%= layer %> value=<%= layer %>
            <%= layers[layer].toggled ? 'checked' : ''  %>>
    <%= layers[layer].name %>
    <br>
    <% } %>
</form>