<p>Select Layers</p>
<form action="" id="map-layer-ctrl">
    <% for (var layer in layers) { %>
    <%  if(!layers.hasOwnProperty(layer)) { %>
    <%      continue; } %>
    <input type="checkbox" name=<%= layer %> value=<%= layer %>
            <%= layers[layer].toggled ? 'checked' : ''  %>>
    <%= layers[layer].name %>
    <br>
    <% } %>
</form>
<style>
    #ctrl-container {
        position: fixed;
        top: 55px;
        right: 0;
        bottom: 0;
        background: #F4F4F4;
        width: 20%;
        box-sizing: border-box;
        box-sizing: -moz-border-box;
        padding: 20px;
    }
</style>